<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Login Test Suite">
<!--    suite represents the collection of your test cases-->

    <test name="UI tests">

        <classes>
            <class name="ui.LoginTests"></class>
        </classes>


    </test>

<!--    <test name="DB tests">-->

<!--    </test>-->



</suite>
